.App {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* 
{
  "detections": [
      {
          "emotions": {
              "angry": 0.952103316783905,
              "sad": 0.0027534549590200186,
              "neutral": 0.00018628870020620525,
              "happy": 0.00008021290705073625,
              "disgust": 0.01926462911069393,
              "surprise": 0.023346250876784325,
              "fear": 0.002265866845846176
          },
          "crop": {
              "x1": 0.3993297219276428,
              "x2": 0.6170467138290405,
              "y1": 0.21315857768058777,
              "y2": 0.6117115020751953,
              "score": 0.9982402324676514
          }
      }
  ]
} */